<nav class="top-nav">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
        Citytrips
    </NavLink>
    <NavLink class="nav-item" href="my-citytrips">
        My Citytrips
    </NavLink>
    <NavLink class="nav-item" href="profile">
        Profile
    </NavLink>
</nav>
